# This is a sample build configuration for Docker.
# Check our guides at https://confluence.atlassian.com/x/O1toN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: atlassian/default-image:2

pipelines:
  default:
    - step:
        name: Build docker image
        services:
          - docker
        script: # Modify the commands below to build your repository.
          # Set $DOCKER_HUB_USERNAME and $DOCKER_HUB_PASSWORD as environment variables in repository settings
          - export APP_NAME=$(echo $BITBUCKET_REPO_FULL_NAME | awk -F"/" '{print $2}')
          - export IMAGE_NAME=$DOCKER_HUB_USERNAME/$DOCKER_HUB_REPO:$APP_NAME-$BITBUCKET_BUILD_NUMBER

          # build the Docker image (this will use the Dockerfile in the root of the repo)
          - docker build -t $IMAGE_NAME .
          # authenticate with the Docker Hub registry
          - docker login --username $DOCKER_HUB_USERNAME --password $DOCKER_HUB_PASSWORD
          # push the new Docker image to the Docker registry
          - docker push $IMAGE_NAME
    - step:
        name: Deploy to development
        deployment: development
        script:
          - export APP_NAME=$(echo $BITBUCKET_REPO_FULL_NAME | awk -F"/" '{print $2}')
          - export IMAGE_NAME=$DOCKER_HUB_USERNAME/$DOCKER_HUB_REPO:$APP_NAME-$BITBUCKET_BUILD_NUMBER
          - ./replace-tokens.sh deployment.yml
          - pipe: atlassian/kubectl-run:1.1.2
            variables:
              KUBE_CONFIG: $KUBE_CONFIG
              KUBECTL_COMMAND: 'apply'
              RESOURCE_PATH: 'deployment.yml'
    - step:
        name: Deploy to production
        deployment: production
        trigger: manual
        script:
          - export APP_NAME=$(echo $BITBUCKET_REPO_FULL_NAME | awk -F"/" '{print $2}')
          - export IMAGE_NAME=$DOCKER_HUB_USERNAME/$DOCKER_HUB_REPO:$APP_NAME-$BITBUCKET_BUILD_NUMBER
          - ./replace-tokens.sh deployment.yml
          - pipe: atlassian/kubectl-run:1.1.2
            variables:
              KUBE_CONFIG: $KUBE_CONFIG
              KUBECTL_COMMAND: 'apply'
              RESOURCE_PATH: 'deployment.yml'